<a href="https://colab.research.google.com/github/nishanadahal/skills-introduction-to-github/blob/main/superhero_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Superhero Database Assignment (SQLite & Google Colab)

## Objective
In this assignment, you will design and implement a **Superhero Database** using SQLite in Google Colab. This database will store superheroes, villains, and their battles. You will write SQL queries to analyze battle outcomes and relationships between heroes and villains.

### Group Size:
- 2 to 3 students per group.

### Tools Required:
- **Google Colab**
- **SQLite (built into Python)**
- **CSV files (provided for import)**

## Step 1: Setting Up Your SQLite Database

### Tasks:
1. Initialize SQLite in Google Colab.
2. Create a database named `superhero_db.sqlite`.
3. Define the database schema, ensuring it includes the following tables:
   - `heroes`: Stores superhero names, powers, and teams.
   - `villains`: Stores villains and their evil plans.
   - `battles`: Tracks battles between heroes and villains, including the outcome.
4. Implement primary keys and foreign keys where appropriate.

✅ **Checkpoint:** Ensure that the database and tables have been successfully created.

In [92]:
import sqlite3
connection = sqlite3.connect('superhero_db.sqlite')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS heroes(
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT,
power TEXT,
team TEXT
)''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS battles(
id INTEGER PRIMARY KEY AUTOINCREMENT,
hero_id INTEGER,
villain_id INTEGER,
outcome TEXT
)''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS villains(
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT,
evil_plan TEXT
)''')

connection.commit()

print('Database has been successfully created along with the tables.')

Database has been successfully created along with the tables.

## Step 2: Import Data from CSV Files

### Tasks:
1. Download the provided CSV files.
2. Upload them to Google Colab.
3. Write a script to import data from these files into the appropriate tables.
4. Verify that the data has been successfully inserted.

✅ **Checkpoint:** Ensure that each table contains the expected data from the CSV files.

In [96]:
import pandas as pd
cursor.execute("DELETE FROM battles")
cursor.execute("DELETE FROM heroes")
cursor.execute("DELETE FROM villains")

dfbattles = pd.read_csv('battles.csv')
dfbattles.to_sql('battles', connection, if_exists = 'replace', index = False)

dfheroes = pd.read_csv('heroes.csv')
dfheroes.to_sql('heroes', connection, if_exists = 'replace', index = False)

dfvillains = pd.read_csv('villains.csv')
dfvillains.to_sql('villains', connection, if_exists = 'replace', index = False)


cursor.execute("SELECT * FROM battles")
rows = cursor.fetchall()

print("All battles data:")
for row in rows:
    print (row)

cursor.execute("SELECT * FROM heroes")
rows = cursor.fetchall()
print('All heroes data:')
for row in rows:
    print(row)


cursor.execute("SELECT * FROM villains")
print('All villains data:')
rows = cursor.fetchall()
for row in rows:
    print(row)

print('Data has been successfully inserted into the tables!')

All battles data:
(1, 1, 10, 'Villain Wins')
(2, 9, 3, 'Hero Wins')
(3, 8, 1, 'Draw')
(4, 5, 4, 'Villain Wins')
(5, 1, 7, 'Hero Wins')
(6, 2, 8, 'Villain Wins')
(7, 9, 8, 'Hero Wins')
(8, 3, 2, 'Hero Wins')
(9, 7, 5, 'Hero Wins')
(10, 3, 1, 'Draw')
(11, 1, 8, 'Villain Wins')
(12, 2, 1, 'Draw')
(13, 8, 9, 'Hero Wins')
(14, 8, 1, 'Draw')
(15, 6, 10, 'Draw')
(16, 1, 1, 'Villain Wins')
(17, 8, 3, 'Draw')
(18, 6, 3, 'Villain Wins')
(19, 4, 8, 'Villain Wins')
(20, 3, 4, 'Hero Wins')
(21, 8, 1, 'Draw')
(22, 4, 9, 'Draw')
(23, 3, 9, 'Draw')
(24, 8, 9, 'Villain Wins')
(25, 2, 5, 'Draw')
(26, 3, 7, 'Draw')
(27, 10, 3, 'Draw')
(28, 3, 8, 'Draw')
(29, 3, 5, 'Hero Wins')
(30, 5, 5, 'Hero Wins')
All heroes data:
(1, 'Spider-Man', 'Web-slinging', 'Avengers')
(2, 'Iron Man', 'Powered Armor', 'Avengers')
(3, 'Batman', 'Genius Detective', 'Justice League')
(4, 'Superman', 'Super Strength', 'Justice League')
(5, 'Thor', 'God of Thunder', 'Avengers')
(6, 'Wonder Woman', 'Amazonian Strength', 'Justice League')
(7, 'Black Panther', 'Enhanced Agility', 'Avengers')
(8, 'The Flash', 'Super Speed', 'Justice League')
(9, 'Hulk', 'Super Strength', 'Avengers')
(10, 'Doctor Strange', 'Mystic Arts', 'Avengers')
All villains data:
(1, 'Green Goblin', 'Terrorize New York')
(2, 'Thanos', 'Collect all Infinity Stones')
(3, 'Joker', 'Spread chaos in Gotham')
(4, 'Lex Luthor', 'Defeat Superman')
(5, 'Loki', 'Trick humanity into worshiping him')
(6, 'Ultron', 'AI world domination')
(7, 'Darkseid', 'Control the universe')
(8, 'Venom', 'Consume Spider-Man')
(9, 'Magneto', 'Mutant supremacy')
(10, 'Red Skull', 'Revive Hydra')
Data has been successfully inserted into the tables!

## Step 3: Querying the Database

### Tasks:
Write SQL queries to answer the following:
1. Retrieve all superheroes and their powers.
2. Find all battles where the hero won.
3. List all villains and their evil plans.
4. Determine which superhero has fought the most battles.

✅ **Checkpoint:** Ensure that all queries return meaningful results from the database.

In [97]:
print("SUPERHEROES/POWERS:")
cursor.execute('''
SELECT name, power
FROM heroes
''')
for row in cursor.fetchall():
  print(row)


print("HERO WINS:")
cursor.execute('''
SELECT *
FROM battles
WHERE outcome = 'Hero Wins'
''')
for row in cursor.fetchall():
  print(row)

print("VILLAINS/PLANS:")
cursor.execute('''
SELECT name, evil_plan
FROM villains
'''
)
for row in cursor.fetchall():
  print(row)

print("TOP SUPERHERO:")
cursor.execute('''
SELECT heroes.name, hero_id, COUNT(hero_id) AS top
FROM battles
INNER JOIN heroes where battles.hero_id = heroes.id
GROUP BY hero_id
ORDER BY top DESC
'''
)
for row in cursor.fetchone():
  print(row)

SUPERHEROES/POWERS:
('Spider-Man', 'Web-slinging')
('Iron Man', 'Powered Armor')
('Batman', 'Genius Detective')
('Superman', 'Super Strength')
('Thor', 'God of Thunder')
('Wonder Woman', 'Amazonian Strength')
('Black Panther', 'Enhanced Agility')
('The Flash', 'Super Speed')
('Hulk', 'Super Strength')
('Doctor Strange', 'Mystic Arts')
HERO WINS:
(2, 9, 3, 'Hero Wins')
(5, 1, 7, 'Hero Wins')
(7, 9, 8, 'Hero Wins')
(8, 3, 2, 'Hero Wins')
(9, 7, 5, 'Hero Wins')
(13, 8, 9, 'Hero Wins')
(20, 3, 4, 'Hero Wins')
(29, 3, 5, 'Hero Wins')
(30, 5, 5, 'Hero Wins')
VILLAINS/PLANS:
('Green Goblin', 'Terrorize New York')
('Thanos', 'Collect all Infinity Stones')
('Joker', 'Spread chaos in Gotham')
('Lex Luthor', 'Defeat Superman')
('Loki', 'Trick humanity into worshiping him')
('Ultron', 'AI world domination')
('Darkseid', 'Control the universe')
('Venom', 'Consume Spider-Man')
('Magneto', 'Mutant supremacy')
('Red Skull', 'Revive Hydra')
TOP SUPERHERO:
Batman
3
7

## Step 4: Add a Custom Feature

### Tasks:
1. Design and implement an additional table related to superheroes or villains.
2. Populate it with data.
3. Write at least one query to retrieve meaningful insights from the new table.

**Examples of Custom Features:**
- Sidekicks for superheroes
- Villain hideouts
- Battle locations
- Superhero equipment

✅ **Checkpoint:** Ensure that the new table and queries function correctly.

In [101]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS sidekicks(
id INTEGER PRIMARY KEY AUTOINCREMENT,
hero_id INTEGER,
sidekick TEXT)
''')

sidekick_data = [
    (2, 'ironboy'),
    (1,'spiderboy'),
    (5,'thorboy'),
    (6, 'wonderboy'),
    (7,'pantherboy'),
    (3,'batboy'),
    (4,'superboy'),
    (8,'flashboy'),
    (9, 'hulkboy'),
    (10, 'littledrstrange')
]

cursor.execute("DELETE FROM sidekicks")

cursor.executemany('''
INSERT INTO sidekicks(hero_id, sidekick) VALUES (?, ?)''', sidekick_data)
connection.commit()

print ("QUERIES:")
print("SIDEKICK TABLE:")
cursor.execute('''
SELECT * from sidekicks
''')
for row in cursor.fetchall():
 print(row)

print ("Sorting sidekicks by hero id in ascending order:")
cursor.execute('''
SELECT sidekicks.hero_id, sidekicks.sidekick
FROM sidekicks
ORDER BY hero_id ASC

''')
for row in cursor.fetchall():
  print(row)

print("sidekicks with little in their names:")
cursor.execute('''
SELECT sidekick
FROM sidekicks
WHERE sidekick LIKE 'little%'
''')
for row in cursor.fetchall():
  print(row)

QUERIES:
SIDEKICK TABLE:
(211, 2, 'ironboy')
(212, 1, 'spiderboy')
(213, 5, 'thorboy')
(214, 6, 'wonderboy')
(215, 7, 'pantherboy')
(216, 3, 'batboy')
(217, 4, 'superboy')
(218, 8, 'flashboy')
(219, 9, 'hulkboy')
(220, 10, 'littledrstrange')
Sorting sidekicks by hero id in ascending order:
(1, 'spiderboy')
(2, 'ironboy')
(3, 'batboy')
(4, 'superboy')
(5, 'thorboy')
(6, 'wonderboy')
(7, 'pantherboy')
(8, 'flashboy')
(9, 'hulkboy')
(10, 'littledrstrange')
sidekicks with little in their names:
('littledrstrange',)

## Bonus Challenge (+5 Points)

### Tasks:
1. Enhance your project by adding a visual or interactive component.

**Options:**
- Visualize battles using Matplotlib (e.g., a bar chart showing how many battles each superhero has fought).
- Make it interactive (e.g., allow users to input a superhero name and display their battles).

✅ **Checkpoint:** If attempting the bonus, ensure that your visualization or interactive component works correctly.

## Submission Guidelines

Each group must submit a **Google Colab Notebook (.ipynb)** containing:
- ✅ **Database schema (DDL)**
- ✅ **CSV imports & data insertion (DML)**
- ✅ **SQL queries & results**
- ✅ **Custom feature (bonus if applicable)**

## Grading Criteria (Total: 25 Points)

| Section                 | Points |
|-------------------------|--------|
| Database Setup          | 5      |
| Data Importing         | 10     |
| Querying the Data      | 10     |
| Extra Feature          | 5      |
| Bonus Challenge (Optional) | +5  |

### Final Notes:
- Be **creative** when designing superheroes and villains.
- **Comment your code** to explain its functionality.
- **Have fun** building your superhero universe!